<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
</head>
<body>
<h3>Spring Boot and Thymeleaf!</h3>
<p class="blueColor">Hello World!</p>

	
	
	<form class="form-horizontal" action="#" th:action="@{/book/addbook}" th:object="${book}" method="post">
	
		<input type="hidden" th:field="*{id}" />
		<div class="form-group">
			<label for="isbn" class="col-sm-2 control-label">ISBN:</label>
			<div class="col-sm-4">
				<input id="isbn" type="text" th:field="*{isbn}" />
			</div> 
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Title:</label>
			<div class="col-sm-4">
				<input id="title" type="text" th:field="*{title}" />
			</div> 
		</div>
		<div class="form-group">
			<label for="author" class="col-sm-2 control-label">Author:</label>
			<div class="col-sm-4">
				<input id="author" type="text" th:field="*{author}" />
			</div> 
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Description:</label>
			<div class="col-sm-4">
				<input id="description" type="text" th:field="*{description}" />
			</div> 
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				
				<input type="submit" value="Save" class="btn btn-primary" style="margin-right: 10px"/>
				<input type="reset" value="Reset" class="btn btn-default"/>
			</div>
		</div>
	</form>
	 <a th:href="@{/book/booklist}">Go to book list</a>
</body>
</html>