<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Spring Boot Cloud App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- <script src="../static/js/bootstrap.min.js"></script> -->
    
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <br/><br/><br/>

	
	<p style="padding: 10px; font-family:Comic Sans MS; font-size: 16px">
		Hey, nice of you to signup. Take a look around our collection.
	</p>
	
</body>

</html>