<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Spring Boot Cloud App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- <script src="../static/js/bootstrap.min.js"></script> -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <br/><br/><br/>

	<h2 style="width:90%; margin-left: 5%;">User List</h2>
	
	<table border="1" class="table table-striped table-bordered table-hover" style="width:60%; margin-left: 5%;">
		<thead>
			<tr>
				<th style="text-align:center">ID</th>
				<th style="width: 200px;text-align:center">Email</th>
				<th style="text-align:center">Username</th>
				<!-- <th style="text-align:center">Password</th> -->
				<th style="text-align:center">Role</th>
				<!-- <th style="text-align:center">Version</th> -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				
				<td th:text="${user.id}">1234</td>
				<td th:text="${user.email}" style="width:25%">Cambridge</td>
				<td th:text="${user.username}" style="width:15%">Charles Darwin</td>
				<!-- <td th:text="${user.password}">Evolution through billions of years</td> -->
				<td th:text="${user.role}">Evolution through billions of years</td>
				<!-- <td th:text="${user.version}">Evolution through billions of years</td> -->
				
				<!-- <td style="text-align: center;">
					
					<a class="btn btn-warning" href="#" data-th-href="@{/edit/{id}(id=${book.id})}">
  						<i class="fa fa-pencil"></i> Edit
  					</a>
					<a class="btn btn-danger" href="#" data-th-href="@{/delete/{id}(id=${book.id},phase=stage)}" onClick="window.location.reload(true)">
  						<i class="fa fa-trash-o fa-lg"></i> Delete
  					</a>
				</td> -->
			</tr>
			
		</tbody>
	</table>
	
</body>

</html>